<div class="bar bar-standard bar-header-secondary">
  <div class="segmented-control">
      <a class="control-item <%= tab == 'financials' ? 'active' : '' %>" href="#/charity/{{ bn }}/financials">
        Financials
    </a>
    <a class="control-item <%= tab == 'description' ? 'active' : '' %>" href="#/charity/{{ bn }}/description">
      General
    </a>
    <a class="control-item <%= tab == 'news' ? 'active' : '' %>" href="#/charity/{{ bn }}/news">
      News
    </a>
  </div>
</div>
