<div ng-controller="HomeCtrl">
  <div class="bar bar-standard bar-header-secondary">
    <form>
      <input type="search" placeholder="Find a charity" ng-model="search" />
    </form>
  </div>

  <div class="content">
    <%= render :partial => "templates/charities" %>
  </div>
</div>
