<div ng-controller="HomeCtrl">
  <form>
    <input type="search" placeholder="Find a charity" ng-model="search">
  </form>
  <ul class="table-view" ng-if="results">
    <li class="table-view-cell" ng-repeat="result in results">
      <a class="push-right">{{ result.name }}</a>
    </li>
  </ul>
  <img src="{{ chart_url }}"></img>
</div>
