<div ng-controller="HomeCtrl">
  <form>
    <input type="search" placeholder="Find a charity" ng-model="search">
  </form>
  <%= render :partial => "templates/charities" %>
  <img src="{{ chart_url }}"></img>
</div>
