<div ng-controller="RecommendedCtrl">
  <div class="content-padded">
    This is a small set of charities that we recommend due to their efficiency and
    popularity.
  </div>
  <%= render :partial => "templates/charities" %>
</div>
