<div class="content" ng-controller="RecommendedCtrl">
  <p class="content-padded text-muted">
    This is a small set of charities that we recommend due to their efficiency and popularity.
  </p>

  <%= render :partial => "templates/charities" %>
</div>
