<div ng-controller="RecommendedCtrl">
  <div class="content-padded">
    <p class="text-muted">This is a small set of charities that we recommend due
    to their efficiency and popularity.</p>
  </div>
  <%= render :partial => "templates/charities" %>
</div>
