<div ng-controller="RecommendedCtrl">
  <div class="content" style="padding-top: 50px;">
    <p class="content-padded text-muted">
      This is a small set of charities that we recommend due to their efficiency and popularity.
    </p>

    <%= render :partial => "templates/charities" %>
  </div>
</div>
