<div ng-controller="CharityCtrl">
  <%= render :partial => "templates/charitynav", :locals => {:tab => "description"} %>

  <div class="content">
    <div class="content-padded" ng-if="charityData && hasGeneralInfo()">
      <a ng-if="charityData.general.website" class="btn btn-block btn-outlined" ng-href="{{ websiteURL(charityData.general.website) }}">Visit Website</a>
      <a ng-if="charityData.general.email" class="btn btn-block btn-outlined" ng-href="mailto:{{ charityData.general.email }}">Send Email</a>
    </div>

    <p class="content-padded" ng-if="charityData && !hasGeneralInfo()" style="text-align: center;">
      No website or email address found for this charity.
    </p>

    <div ng-init="ratingValue = 0">
      <rating></rating>
    </div>

    <%= render :partial => "templates/charityloading" %>
  </div>
</div>
