<div class="card" ng-controller="CharityCtrl">
  <div class="segmented-control">
    <a class="control-item" href="#/charity/{{ bn }}/financials">
      Financials
    </a>
    <a class="control-item active" href="#/charity/{{ bn }}/description">
      Description
    </a>
    <a class="control-item" href="#/charity/{{ bn }}/news">
      News
    </a>
  </div>

  description
</div>
