<div ng-controller="CharityCtrl">
  <%= render :partial => "templates/charitynav", :locals => {:tab => "description"} %>

  <div class="content">
    <div class="content-padded" ng-if="charityData">
      <p ng-if="charityData.general.website">
        <a href="{{ charityData.general.website }}">Website</a>
      </p>
    </div>

    <%= render :partial => "templates/charityloading" %>
  </div>
</div>
