<div ng-controller="CharityCtrl">
  <%= render :partial => "templates/charitynav", :locals => {:tab => "financials"} %>

  <!-- TODO: put this elsewhere; totally dirty -->
  <style>
    .table-view-cell {
      padding-right: 15px;
    }
  </style>
  <div class="content">
    <div class="content-padded">
      <p>{{ charityData.general.name }}</p>
    </div>
    <ul class="table-view" ng-if="charityData">
      <li class="table-view-cell" ng-if="charityData.financial.total_assets">
        Total Assets
        <span class="pull-right">{{ charityData.financial.total_assets | currency }}</span>
      </li>
      <li class="table-view-cell" ng-if="charityData.financial.total_expenditures">
        Total Expenditures
        <span class="pull-right">{{ charityData.financial.total_expenditures | currency }}</span>
      </li>
      <li class="table-view-cell" ng-if="charityData.financial.total_liabilities">
        Total Liabilities
        <span class="pull-right">{{ charityData.financial.total_liabilities | currency }}</span>
      </li>
      <li class="table-view-cell" ng-if="charityData.financial.total_revenue">
        Total Revenue
        <span class="pull-right">{{ charityData.financial.total_revenue | currency }}</span>
      </li>
    </ul>

    <div class="content-padded" ng-if="charityData && charityData.chart_url">
      <img ng-src="{{ charityData.chart_url }}" alt="Financials Breakdown" width="100%" />
    </div>

    <%= render :partial => "templates/charityloading" %>
  </div>
</div>
