<div ng-controller="CharityCtrl">
  <%= render :partial => "templates/charitynav", :locals => {:tab => "news"} %>

  <div class="content">
    <ul class="table-view" ng-if="charityData && charityData.news.length">
      <li class="table-view-cell" ng-repeat="item in charityData.news">
        <a class="push-right" href="{{ item.url }}">{{ item.title }}</a>
      </li>
    </ul>

    <p class="content-padded" ng-if="charityData && !charityData.news.length" style="text-align: center">
      No news found for this charity.
    </p>

    <%= render :partial => "templates/charityloading" %>
  </div>
</div>
