<div ng-controller="CharityCtrl">
  <%= render :partial => "templates/charitynav", :locals => {:tab => "news"} %>

  <div class="content">
    <ul class="table-view" ng-if="charityData && charityData.news">
      <li class="table-view-cell" ng-repeat="item in charityData.news">
        <a class="push-right" href="{{ item.url }}">{{ item.title }}</a>
      </li>
    </ul>

    <p ng-if="charityData && !charityData.news">
      No news.
    </p>

    <%= render :partial => "templates/charityloading" %>
  </div>
</div>
