<div class="card" ng-controller="CharityCtrl">
  <div class="segmented-control">
    <a class="control-item" href="#/charity/{{ charityBN }}/financials">
      Financials
    </a>
    <a class="control-item" href="#/charity/{{ charityBN }}/description">
      Description
    </a>
    <a class="control-item active" href="#/charity/{{ charityBN }}/news">
      News
    </a>
  </div>

  news
</div>
