<div ng-controller="CharityCtrl">
  <%= render :partial => "templates/charitynav", :locals => {:tab => "news"} %>

  <div class="content">
    <ul ng-if="charityData && !charityData.news" ng-repeat="item in charityData.news">
      <li>{{ item }}</li>
    </ul>

    <p ng-if="charityData && !charityData.news">
      No news.
    </p>

    <%= render :partial => "templates/charityloading" %>
  </div>
</div>
