<div class="card" ng-controller="CharityCtrl">
  <div class="segmented-control">
    <a class="control-item" href="#/charity/{{ bn }}/financials">
      Financials
    </a>
    <a class="control-item" href="#/charity/{{ bn }}/description">
      Description
    </a>
    <a class="control-item active" href="#/charity/{{ bn }}/news">
      News
    </a>
  </div>

  <ul ng-if="charityData && !charityData.news" ng-repeat="item in charityData.news">
    <li>{{ item }}</li>
  </ul>

  <p ng-if="charityData && !charityData.news">
    No news.
  </p>

  <p ng-if="!charityData">
    <!-- TODO: display spinner -->
    Loading charity data.
  </p>

</div>
