<% environment.context_class.instance_eval { include ActionView::Helpers } %>
<% environment.context_class.instance_eval { include HostHelper } %>
<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>

App.controller 'CharityCtrl', ['$scope', '$location', '$timeout', '$http', '$routeParams', '$rootScope', \
                            ($scope, $location, $timeout, $http, $routeParams, $rootScope) ->
  $scope.bn = $routeParams.bn

  $scope.setCharityData = ->
    # Ensure rootScope contains a charities object.
    $rootScope.charities = {} if 'charities' not of $rootScope

    if $scope.bn not of $rootScope.charities
      # Load the charity if we haven't yet.
      url = "<%= site_host() %>/api/charity/#{$scope.bn}"

      $http.get(url)
        .success((data, status, headers, config) ->
          if data.news && data.news.length
            for i in [0..data.news.length-1]
              data.news[i].url = unescape(data.news[i].url)

          $scope.charityData = data
          $rootScope.charities[$scope.bn] = data
          $scope.ratingValue = data.average_rating || 0
        )
    else
      # Otherwise get the cached data from rootScope.
      $scope.charityData = $rootScope.charities[$scope.bn]

  $scope.hasGeneralInfo = ->
    return $scope.charityData.general.website or $scope.charityData.general.email

  $scope.websiteURL = (website) ->
    # Prepend http:// if the website URL doesn't yet contain it.
    if website.indexOf('http') == -1
      website = "http://#{website}"

    return website

  $scope.setCharityData()

]

App.directive('rating', ($http) ->
  return {
    restrict: 'E',
    template: '<span ng-repeat="star in stars_filled" class="icon icon-star-filled" ng-click="lower($index)"></span>' +
              '<span ng-repeat="star in stars_unfilled" class="icon icon-star" ng-click="higher($index)"></span>',
    
    link: ($scope, elem, attrs) -> (
      sendVoteRequest = () -> (
        $http.get('<%= angularApiPath(api_charity_rate_path) %>', {
          params: {
            rating: $scope.ratingValue,
            bn:     $scope.bn
          },
        }).success((data, status, headers, config) ->
         ).error((data, status, headers, config) ->
         )
      )

      updateStars = () -> (

        $scope.stars_filled = [];

        if $scope.ratingValue > 0
          for i in [1..$scope.ratingValue] 
            $scope.stars_filled.push({});
        
        $scope.stars_unfilled = [];

        if $scope.ratingValue < 5
          for i in [1..(5-$scope.ratingValue)]
            $scope.stars_unfilled.push({});
      )

      $scope.$watch('ratingValue', (oldVal, newVal) ->
          updateStars();
      )

      $scope.lower = (index) -> (
        $scope.ratingValue = index + 1;
        sendVoteRequest();
      )

      $scope.higher = (index) -> (
        $scope.ratingValue += index + 1;
        sendVoteRequest();
      )
    )
  }
);

